bin/
obj/
**/bin/
**/obj/

.idea/
.vscode/
.vs/

*.user
*.suo
*.userosscache
*.sln.docstates

*.pidb

.DS_Store
Thumbs.db

packages/
*.nupkg

publish/

logs/

_ReSharper*/
*.DotSettings.user

TestResults/
*.trx
coverage*/

*.tmp
*.log

/.dotnet/

project.lock.json
artifacts/

ScaffoldingReadMe.txt
